@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
    font-family: 'Indie Flower', cursive;
}
/* Body */

    /* Header */
/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
}
nav{
    width: auto;
    margin: 0 auto;
    background-color: rgb(10, 25, 87);
    position: sticky;
    top: 0px;
}

.conteneur-nav{
    position: absolute;
    width: 100%;
}
nav input[type=checkbox]{
    display: none;
}
nav label{
    display: inline-block;
    width: auto;
    padding: 10px 0px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.516);
}
nav ul{
    display: none;
    list-style-type: none;
    background-color: #555;
}
nav input[type=checkbox]:checked + ul{
    display: flex;
    flex-flow : column wrap;
}
nav ul li{
    flex: 1 1 auto;
    text-align: center;
}
nav > div > ul > li > a{
    color: rgba(128, 128, 128, 0.516);
}
nav a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 0px;
}
.sous{
    display: flex;
    flex-flow: column wrap;
    z-index: 1000;
}

.sous li{
    flex: 1 1 auto;
    text-align: left;
}
.sous a{
    padding: 10px;
    background-color: RGBa(200,200,200,0.8);
}

@media screen and (min-width: 980px){
    .conteneur-nav{
        position: static;
    }
    nav label, nav input{
        display: none;
    }
    nav input[type=checkbox]:checked + ul, nav ul{
        display: flex;
        flex-flow: row wrap;
        background-color: #babd8D;
    }
    nav ul li{
        position: relative;
    }
    nav > div > ul > li > a{
        color: black;
    }
    nav a{
        border-bottom: 2px solid transparent;
    }
    nav a:hover{
        color: rgb(145, 95, 2);
        border-bottom: 2px solid gold;
    }
    .sous{
        display: none;
        box-shadow: 0px 1px 2px #CCC;
        background-color: white;
        position: absolute;
        width: 100%;
    }
    nav > div > ul li:hover .sous{
        display: flex;
        flex-flow: column wrap;
    }
    .sous a{
        border-bottom: none;
        background-color: white;
    }
    .sous a:hover{
        border-bottom: none;
        background-color: RGBa(200,200,200,0.1);
    }
    .deroulant > a::after{
        content:" ▼";
        font-size: 12px;
    }
}

.boite1 {
    background-image: url(../img/bande1.png);
}
        
/* fin header */       

    /*main*/
#container0 {
    display: flex;
    flex-direction: column;
}

#container1 {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.box1 {
    display: flex;
    justify-content: space-around;
}
    /* box1 */

#pic1-container1{
    width: 50vh;
    height: 40vh;
    padding: 30px;
    border-radius: 0% 30% 30% 0%;
    
}
#pic2-container1{
    width: 60vh;
    height: 40vh;
    padding: 30px;
    border-radius: 30% 30% 30% 30%;
}
#pic3-container1{
    width: 50vh;
    height: 40vh;
    padding: 30px;
    border-radius: 30% 0% 0% 30%;
}

#container2 {
    border-radius: 30% 30% 20% 20%;
    text-align: center;
    background-color: rgb(207, 120, 120);
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px;
    margin-bottom: 100px;
    margin-top: 30px;
}
.paragraphe {
    text-align: center;
}
#container3 {
    display: flex;
    justify-content: space-around;
}
#pic1-container3{
    border-radius: 20% 20% 20% 20%;
    height: 60vh;
    margin-bottom: 90px;
}
.container4 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
}

/*DEBUT FOOTER VOYAGE*/

.container{
    max-width: 1170px;
    margin: auto;
    text-align: center; 
    width: 100%;
    margin-left: 250px; 
}

.row{
    display: flex;
    flex-wrap: wrap;
   
}


.footer{
    background-color: #24262b;
    padding: 20px 0;
    margin: auto;
    
    
}

.footer1{
    width: 25%;
    padding: 0 15px;
    
}

.footer1 h4{

    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    text-align: center;
  
}

.footer1 h4::before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -15px;
    background-color: #8894b8;
    height: 2px;
    box-sizing: border-box;
    width: 200px;
    margin-left: 50px;
}



.footer1 .s-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer1 .s-links a:hover{
    color: #193270;
    background-color: #ffffff;

}

.pfooter{

    color: white;
    text-align: left;
}

.pfooter1{
    color: white;
}

/*FIN FOOTER*/